/*black-garlic-ramen recipe body*/
#rbody
{
    background-color: rgb(206, 154, 111);
    height:100%;
}
/*spicy-thai recipe body*/
#stbody
{
    background-color: rgb(150, 194, 124);
    height:100%;
}
/*chicken-burrito recipe body*/
#cbbody
{
    background-color: rgb(207, 180, 180);
    height:100%;
}

h1
{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;   
    text-align: left;
    text-decoration: underline;
    margin:3%;
    margin-top: 5%;
    font-weight: bold;
}
.thaidishpic
{
    display: block;
    margin-left: 10px;
    margin-right: auto;
    max-width: 30%;
    max-height: auto;
    border: 0px solid rgb(22, 16, 75);
    border-radius: 25px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5)
}
.CBPB
{
    display: block;
    margin-left: 10px;
    margin-right: auto;
    max-width: 30%;
    max-height: 30%;
    border: 0px solid rgb(22, 16, 75);
    border-radius: 25px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5)
}

.ramenpic
{
    display: block;
    margin-left: 20px;
    margin-right: auto;
    width: 40%;
    border: 0px solid rgb(22, 16, 75);
    border-radius: 25px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5)
}
.ingredients
{
    display: block;
    border: 2px solid rgb(22, 16, 75);
    margin-top:30px;
    border-radius: 30px;
    width: 80%; 
    background-color:cornsilk;
    background-blend-mode: color-dodge;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5)
    
}
